body {
    margin: 0;
	font: 15px sans-serif;
	background: #899FC6;
}
.app {
	width: 100%;
	height: 100vh;
	padding: 4px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
.main {
	flex-grow: 1;
	display: flex;
}
.main > textarea, .main > .ace_editor {
	flex-grow: 1;
}
.main > .ace_editor:not(:first-child) {
	margin-left: 0.25em;
}
.app #editor, .app .ace_editor {
	margin: 0;
	margin-top: 0.25em;
	font-family: Consolas, monospace;
}
.app #editor, .app .ace_editor, #statusbar, .popup {
	border: 1px solid rgba(0,0,0,0.5);
}
.topbar {
	display: flex;
}
#toolbar {
	margin-right: 0.25em;
}
#statusbar {
	flex-grow: 1;
	padding: 0 0.25em;
	font-size: 85%;
	display: flex;
	align-items: center;
	min-height: 1.25em;
	background-color: var(--ace-bg);
	color: var(--ace-fg);
}
#statusbar span {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#copyfield {
	position: absolute;
	display: block;
	top: -4em;
	max-height: 3em;
}
.ace_editor.ace_dark ~ #copyfield {
	background: #405070;
	color: white;
}
@media (max-width: 800px) {
	.topbar {
		flex-direction: column;
	}
	#toolbar {
		margin-right: 0;
	}
	#statusbar {
		flex-grow: inherit;
		margin-top: 0.25em;
	}
	#output {
		display: none;
	}
	.main {
		flex-direction: column;
	}
	.main > .ace_editor:not(:first-child) {
		margin-left: 0;
	}
}

.popup-ctr {
}
.popup-bg {
	z-index: 1000;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}
.popup {
	z-index: 1001;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;
	max-width: calc(100% - 1em);
	max-height: calc(100vh - 1em);
	background-color: var(--ace-bg);
	color: var(--ace-fg);
	border: 1px solid;
	border-color: var(--ace-fg);
	padding: 0.25em;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 1);
	overflow: auto auto;
	box-sizing: border-box;
	
	display: flex;
	flex-direction: column;
}
#settings .popup {
	width: 16em;
	height: 8em;
	resize: both;
}
.popup > *:not(:first-child) {
	margin-top: 0.25em;
}
.popup > * > select {
	widtH: 100%;
}
.popup > input[type="button"] {
	widtH: 100%;
}